body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image: url("image.jpg");
	padding-top:5%;
   
}

form {
    background-color: #ffffff;
	margin: 0 auto;
	padding: 14px;
	width: 90%;	
	opacity: 0.9;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

div {
	clear: both;
	padding-top: 10px;
}


div.two label {
	font-weight:bold;
	float: left;
	width: 100px;
	text-align: right;
	padding-right: 10px;
	position: relative;
}

div.three label {
	font-weight:bold;
	float: left;
	width: 100px;
	text-align: right;
	padding-right: 10px;
	position: relative;
       
}

div.two input, div.two select{
	float: left;
	width: 150px;
	text-align: left;
}

div.two select {
	width: 157px;
	
}

div.one {
	text-align: center;
}

#submit{
	clear: both;
	width: 125px;
	height: 30px;
	background:#F29F05;
	text-align:center;
	line-height:20px;
	font-size:12px;
	font-weight:bold;
}